.h1{
    font-family: 'Merienda One';
    font-style: normal;
    font-weight: 400;
    font-size: 4.25rem;
    line-height: 130%;
    color: #FFFFFF;
}

.body_text{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;     
    color: rgba(0, 0, 0, 0.5);
}

.h3{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 47px;    
    
}

.h2{
    font-family: 'Merienda One';
    font-style: normal;
    font-weight: 400;
    font-size: 3.375rem;
    line-height: 130%;
}